<form (ngSubmit)="onSubmit()"
[formGroup]="alumnosForm"
class="container">
  <mat-card>
    <mat-card-content appFontSize>Cargar Alumno </mat-card-content>
  </mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [formControl]="nombreControl"
    type="text"
    placeholder="Se requiere un mmínimo de caracteres."
    [ngClass]="{ 'form-invalid': this.nombreControl.invalid && this.nombreControl.touched }">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Apellido</mat-label>
    <input matInput [formControl]="apellidoControl"
    type="text"
    placeholder="Se requiere un mmínimo de caracteres."
    [ngClass]="{ 'form-invalid': this.apellidoControl.invalid && this.apellidoControl.touched }">
  </mat-form-field>
  <button color="accent" type="submit" mat-raised-button>
    Guardar
  </button>
</form>

