<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- COLUMNA NOMBRE -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element | fullName }}</td>
    </ng-container>
  
    <!-- COLUMNA EXAMEN -->
    <ng-container matColumnDef="Examen">
      <th mat-header-cell *matHeaderCellDef> Examen </th>
      <td mat-cell *matCellDef="let element"> {{element.status ? "APROBADO" : "DESAPROBADO"}} </td>
    </ng-container>
  
    <!-- COLUMNA EDITAR -->
    <ng-container matColumnDef="Editar/Modificar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="dialogEditar(element)">
          <div>
            <mat-icon>edit</mat-icon>
          </div>
        </button>
      </td>
    </ng-container>
  
    <!-- Delete Column -->
    <ng-container matColumnDef="Eliminar">
      <th mat-header-cell *matHeaderCellDef> Eliminar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="delete(element)">
          <div>
            <mat-icon>delete</mat-icon>
          </div>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
